<section>
  <div class="col-sm-12 col-md-12">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort #sort="matSort" matSortDisableClear
      (matSortChange)="sortData($event)">
  
      <ng-container matColumnDef="jobOrderId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="jobOrderId">Job No. </th>
        <td mat-cell *matCellDef="let element">
          <a matTooltip="Edit" (click)="onEditJob(element)"
            style="color: #137d59;text-decoration: none; cursor: pointer;">
            #{{element.jobOrderId}} </a>
        </td>
      </ng-container>
  
      <ng-container matColumnDef="completion_Date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="completedDate"> Completed Date </th>
        <td mat-cell *matCellDef="let element"> {{element.completedDate | date: 'dd-MM-yyyy' }} </td>
      </ng-container>
  
  
      <ng-container matColumnDef="pageNo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="pageNo"> Page No. </th>
        <td mat-cell *matCellDef="let element"> {{element.pageNo}} </td>
      </ng-container>
  
  
      <ng-container matColumnDef="address1">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="address1"> Address </th>
        <td mat-cell *matCellDef="let element"> {{element.address1}} </td>
      </ng-container>
  
      <ng-container matColumnDef="invoiceStatus">
        <th mat-header-cell *matHeaderCellDef> Invoices </th>
        <td mat-cell *matCellDef="let element">
          <button mat-button color="primary" id="inputprintbutton1" (click)="print(element, $event )"
            [disabled]="printInvoice" title="Download PDF/Print">
            <mat-icon>print</mat-icon>
            <!-- (click)="print(element.invoiceId)" -->
          </button>
        </td>
      </ng-container>
  
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let element">{{element.invoiceStatus}}</td>
      </ng-container>
  
  
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element">
          <button mat-button matTooltip="Move Job" (click)="openMoveJobDialog(element, $event)">
            <mat-icon>shuffle</mat-icon>
            <!-- [disabled]="element.jobInvoiceStatus == true" -->
          </button>
          <button mat-button color="warn" matTooltip="Delete" (click)="onDeleteContact(element, $event)">
            <!-- [disabled]="element.jobInvoiceStatus == true" -->
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click) ="OnSelectedRow(row)"></tr>
  
    </table>
  </div>
  <div *ngIf="notFoundData" class="col-sm-12 col-md-12 text-center noDataFound">
    <b>No Record Found</b>
  </div>
  <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-spin-clockwise" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
  </ngx-spinner>
</section>

