<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="loginWrapper">
          <div class="row">
            <div class="col-sm-12">
              <h2>Settings</h2>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <mat-tab-group (selectedTabChange)="tabChanged($event)">
                <mat-tab label="Employees">
                  <br>
                  <app-UpdateEmployees></app-UpdateEmployees>
                </mat-tab>
                <mat-tab label="Items"> 
                  <br>
                  <app-AddItemsMain></app-AddItemsMain>
                 </mat-tab>
                 <mat-tab label="Users"> 
                  <br>
                  <app-UpdateUser></app-UpdateUser>
                 </mat-tab>
                 <mat-tab label="Settable Days"> 
                  <br>
                 <app-SettableDays></app-SettableDays>
                 </mat-tab>
              </mat-tab-group>
            </div>
          </div> 
        </div>
      </div>
    </div>
  </div>
</section>

<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-spin-clockwise" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>


