<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeDialog()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="stripeForm" (ngSubmit)="onSubmit()">
      <div class="modal-body">
        <h2>Emergency Hot Water Repairs</h2>
        <p>${{AmountInvoice}} for Invoice #{{invoiceId}}</p>
		<div class="cardDetai">
			<div class="cardNumber">
				<!-- <input type="text" placeholder="Card number"> -->
        <input type ="text" formControlName ="cardNumber" mask ="0000 0000 0000 0000"
        placeholder="Card Number" autocomplete="cc-number" ccNumber required>
        <!-- <div class="help-block"
              *ngIf="stripeForm.get('cardNumber').invalid && stripeForm.get('cardNumber').touched">
              <p>Card Number is required</p>
        </div> -->
        <img src="assets/images/card-icon.png" alt="image">
			</div>
			<div class="expireDetail">
				<!-- <input type="text" placeholder="MM/YY"> -->
        <input id="cc-exp-date"  formControlName="expirationDate" placeholder="MM/YYYY"  
          type="text" autocomplete="cc-exp" ccExp required>
            <!-- <div class="help-block"
             *ngIf="stripeForm.get('expirationDate').invalid && stripeForm.get('expirationDate').touched">
              <p> Expiry Date is required</p>
            </div> -->
				<!-- <input type="text" placeholder="CVC"> -->
        <input id="cc-csc"  mask="000" formControlName="cvv" placeholder="CVV" type="text" 
        autocomplete="cc-cvc" ccCvc required>
        <!-- <div class="help-block"
          *ngIf="stripeForm.get('cvv').invalid && stripeForm.get('cvv').touched">
          <p>CVV is required</p>
        </div> -->
			</div>
		</div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-secondary" data-dismiss="modal">Pay AUD ${{AmountInvoice}}</button>
      </div>
      </form>
    </div>
  </div>
</div>



<!-- ============================================================================================== -->
<!-- 
<div class="modal fade" id="moveJob" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog smallModal" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"> Payment Method </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeDialog()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="stripeForm" (ngSubmit)="onSubmit()">
      <div class="modal-body smHeight">
        <div mat-dialog-content>
            <div class="form-group">
              <label>Name On Card <sup>*</sup></label>
              <input type="text" class="form-control" formControlName="cardName" placeholder="Name On Card" required/>
              <div class="help-block"
                      *ngIf="stripeForm.get('cardName').invalid && stripeForm.get('cardName').touched">
                      <p>Card Name is required</p>
                    </div>
            </div> 

            <div class="form-group">
              <label>Card Number <sup>*</sup></label>
               <input type ="text" class ="form-control " formControlName ="cardNumber" mask ="0000 0000 0000 0000"
                placeholder="Card Number" autocomplete="cc-number" ccNumber required>
                <div class="help-block"
                      *ngIf="stripeForm.get('cardNumber').invalid && stripeForm.get('cardNumber').touched">
                      <p>Card Number is required</p>
                    </div>
            </div>

            <div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Expiry Date <sup>*</sup></label>
                    <input id="cc-exp-date"  class="form-control "formControlName="expirationDate" placeholder="MM/YYYY"
                     type="text" autocomplete="cc-exp" ccExp required>
                     <div class="help-block"
                      *ngIf="stripeForm.get('expirationDate').invalid && stripeForm.get('expirationDate').touched">
                      <p> Expiry Date is required</p>
                    </div>
                  </div> 
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>CVC <sup>*</sup></label>
                    <input id="cc-csc"  mask="000" class="form-control" formControlName="cvv" placeholder="CVV" type="text" autocomplete="cc-cvc" ccCvc required>
                    <div class="help-block"
                      *ngIf="stripeForm.get('cvv').invalid && stripeForm.get('cvv').touched">
                      <p>CVV is required</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
          
            <button type="submit" class="btn comBtn col-md-12"> 
             Pay ${{data.PaymentForm.controls.amount.value}}           
            </button>
           
        </div>
      </div>
     </form>  
    </div>
  </div>
</div> -->
