<div class="statementPdfWrap">
	<div class="templateHeader">
		<div class="container">
			<h2>${{amount}}</h2>
			<div class="headerActionBtn">
				<button type="button" class="greenBtn btn" (click)="openPaymentModel()">Pay Now</button>
			</div>
		</div>
	</div>
	<div class="templateContentPart" >
      <iframe [src]="url | safe" id ="pdfUrlLink" title="description" ></iframe>
	</div>
	<div class="templateFotter">
		<div class="container">
			<img src="#" alt="" class="footerLogo">
			<div class="headerActionBtn">
				<!-- <button type="submit" class="outlineBtn emailBtn">E-mail</button> 
				<button type="submit" class="outlineBtn" >Save</button> -->
			</div>
		</div>
	</div>
</div>
