.payModal {
    max-width: 990px;
    .loginWrapper {
        margin: 0;
        box-shadow: none;
        padding: 0;
    }
}

.font18 {
    font-size: 18px;
    margin: 0 0 8px;
}


::ng-deep .mat-checkbox .mat-checkbox-frame {
    border-color: grey;
  }
  
  ::ng-deep .mat-checkbox-checked .mat-checkbox-background {
    background-color: #04773B !important;
  }  
  .innerTabbingData .container .loginWrapper {
    box-shadow: none;
    margin-top: 15px !important;
    padding: 0;
}

.none{
  display: none;
}

.disable {
  background-color: #e9ecef;
  color:black;
}

.redColor{
  color : red;
}