.font15 {
    font-size: 17px;
    margin: 0 0 5px;
    font-weight: 500;
}
.font18 {
    font-size: 18px;
    margin: 0 0 8px;
}
.greenColor {
    color: #04773B !important;
}
.notesTable {
    thead {
        tr {
            th {
                padding: 8px 10px;
            }
        }
    }
}