<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="loginWrapper">
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <h2>Jobs</h2>
            </div>
            <div class="col-sm-12 col-md-6 text-right">
              <!-- <a routerLink="../AddJob" class="btn primary-btn comBtn">Add New Job</a> -->
              <a (click)="onAddJobClick()" class="btn primary-btn comBtn">Add New Job</a>
            </div>
          </div>
            <div class="row">
              <div class="col-sm-12 col-md-6">

                  <input id ="searchId" type="text" placeholder="Search by Owner name ,Job no.,Page no., and address"
                  (keyup)="searchJobs($event)" class="form-control">
              </div>
            </div>
            <br>

          <form>
            <div class="row">
              <div class="col-sm-12">
                <div infinite-scroll
                [infiniteScrollDistance]="scrollModel.scrollDistance"
                [infiniteScrollUpDistance]="scrollModel.scrollUpDistance"
                [infiniteScrollThrottle]="scrollModel.throttle"
                (scrolled)="loadMore()" class="table-responsive">
                 
                <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)" class="mat-elevation-z8" *ngIf ="dataSource">
                  <ng-container matColumnDef="jobOrderId">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Job no. </th>
                    <td mat-cell *matCellDef="let element"> <a matTooltip="Edit" (click) ="onEditJob(element)" style="color: #137d59;text-decoration: none;cursor: pointer;">#{{element.jobOrderId}}</a> </td>
                  </ng-container>
                     
                  <!-- <ng-container matColumnDef="ownerName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Owner Name </th>
                    <td mat-cell *matCellDef="let element">{{element.ownerName | titlecase}}</td>
                  </ng-container> -->

                  <ng-container matColumnDef="customerName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Customer Name </th>
                    <td mat-cell *matCellDef="let element">{{element.customerName | titlecase}}</td>
                  </ng-container>
                  
                  <ng-container matColumnDef="CompletedDate" >
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Completed Date </th>
                    <td mat-cell *matCellDef="let element"> {{element.completedDate | date: 'dd-MM-yyyy'}} </td>
                  </ng-container>

                  
                  <ng-container matColumnDef="pageNo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Page No. </th>
                    <td mat-cell *matCellDef="let element"> {{element.pageNo}} </td>
                  </ng-container>

                  
                  <ng-container matColumnDef="address1">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Address </th>
                    <td mat-cell *matCellDef="let element"> 
                      {{element.address1}},
                      <!-- {{element.suburbName}}, {{element.state}}-{{element.postCode}} </td> -->
                  </ng-container>

                  <!-- {{res.address1}}, {{res.suburbName}}, {{res.state}}-{{res.postCode}} -->
                  <ng-container matColumnDef="invoiceStatus">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
                    <td mat-cell *matCellDef="let element">
                      {{element.invoiceStatus}}
                    </td>
                  </ng-container>

                  
                  <ng-container matColumnDef="Action">
                    <th mat-header-cell *matHeaderCellDef> Action </th>
                    <td mat-cell *matCellDef="let element">
                      <button mat-button  matTooltip="Move Job" 
                      (click)="openMoveJobDialog(element, $event)"><mat-icon>shuffle</mat-icon></button>
                      <button mat-button color="warn" matTooltip="Delete" 
                       (click)="openDialog(element, $event)"><mat-icon>delete</mat-icon></button>
                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click) ="OnSelectedRow(row)"></tr>
                </table>
                <!-- <div *ngIf="noFoundData" class="text-center noDataFound">No record found</div> -->
                
                </div>
              
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-spin-clockwise" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
